/* Add any CSS you need to this file. */

/* https://colorhunt.co/palette/172691 */

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  color: #596157;
  font-family: "Open sans", sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

header {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #5b8c5a;
  max-height: 90px;
}

header h1 {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  color: white;
}

nav {
  padding: 0;
  background-color: #552244;
  align-content: center;
  margin: 0 0 0 0;
}

nav li {
  color: white;
  padding: 0 1%;
  float: left;
  min-height: 35px;
  max-height: 35px;
  justify-content: space-evenly;
  display: flex;
  justify-content: center;
  align-items: center;
}

li:hover {
  background-color: #596157;
  max-height: 35px;
}

nav ul {
  min-height: 35px;
  max-height: 35px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}

#searchLi {
  display: flex;
  text-align: center;
  justify-content: center;
  flex: 0.5;
  min-height: 100%;
}

#searchLi:hover {
  background-color: #552244;
}

#searchLi input {
  flex: 1;
  max-width: 100%;
  border-style: hidden;
  padding-left: 5px;
}

#searchLi i {
  margin-left: 5px;
}

li {
  margin: 0;
}

main {
  display: flex;
  flex-grow: 1;
  min-height: 2em;
  margin-top: 0;
  flex-direction: column;
  align-items: center;
  background-color: #EEE;
  justify-content: center;
}

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#changePage {
  margin-top: 0.5%;
  color: #596157;
}

.changeIcon:hover {
  color: #5b8c5a;
}

/* SMALL MOBILE */


/* Mobile */
@media only screen and (max-width: 600px) {
  header img {
    width: 80px;
    height: 70px;
    margin-bottom: 0;
  }
  .card {
    max-width: 200px;
    min-height: 200px;
    max-height: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 1%;
    text-align: center;
    width: 25%;
    height: max-content;
    position: relative;
  }
  .card p button {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .info {
    display: none;
  }
  h2 {
    margin-top: 0;
    font-size: 0.8em;
  }
  .desktop {
    display: none;
  }
  #price {
    margin: 0;
    color: darkred;
    font-weight: bolder;
    font-size: 1.5em;
    
  }
  main {
    overflow: auto;
  }
}



/* Desktop */

@media only screen and (min-width: 1100px) and (min-height: 800px) {
  header {
    min-height: 90px;
    max-height: 90px;
  }
  header img {
    width: 100px;
    height: 70px;
  }
  .card {
    min-width: 170px;
    max-width: 200px;
    min-height: 270px;
    max-height: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 1% 2%;
    text-align: center;
    width: 20%;  
    height: max-content;
    position: relative;
  }
  .mobile {
    display: none;
  }
  main {
    padding: 0 20%;
  }
  h2 {
    font-size: 1.1em;
    font-weight: 1200;
  }
  #price {
    margin: 2%;
    color: darkred;
    font-size: 1.4em;
    font-weight: bolder;
    font-size: 2em;
  }
}

/* Desktop 2 */

@media only screen and (min-width: 600px) and (min-height: 800px) {
  header {
    min-height: 90px;
    max-height: 90px;
  }
  header img {
    width: 100px;
    height: 70px;
  }
  .card {
    min-width: 130px;
    max-width: 200px;
    min-height: 270px;
    max-height: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 1% 2%;
    text-align: center;
    width: 20%;  
    height: max-content;
    position: relative;
  }
  .mobile {
    display: none;
  }
  main {
    padding: 0 20%;
  }
  h2 {
    font-size: 1.0em;
    font-weight: 1200;
  }
  #price {
    margin: 2%;
    color: darkred;
    font-size: 1.4em;
    font-weight: bolder;
    font-size: 2em;
  }
}

.info {
  color: grey;
  font-size: 1em;
  margin: 10px;
  margin-bottom: 0px;
}

.card img {
  width: 100%;
  max-height: 180px;
}

.card button {
  background-color: #5b8c5a;
}

.card p {
  font-size: 0.7em;
  margin: 0;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-top: 2%;
}

.card h2 {
  color: green;
  display: block;
  margin: 0;
}

#cardInfo {
  margin: 0;
  justify-content: space-evenly;
  display: flex;
}

button:hover {
  opacity: 0.7;
}

footer {
  padding: 0;
  background-color: #552244;
  display: flex;
  justify-content: center;
}

footer ul {
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 0;
}

footer li {
  padding: 1% 2%;
  color: white;
  display: flex;
  float: left;
  min-height: 5%;
  max-height: 30px;
  justify-content: space-evenly;
  font-size: small;
  margin: 0px 5px 0 5px;
}

a {
  text-decoration: none;
  color: white;
}

footer .icon {
  margin: 3px 5px 0 5px;
  color: white;
}

#cart, #home {
  color: white;
}

#userCart {
  background-color: black;
}

#about {
  text-align: justify;
}
